.contactContainer {
  background-color: #fcf4f1;
  width: 75%;
  height: 550px;
  font-family: "Poiret One", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.contactText {
  border: dashed 3px #281e1c8e;
  padding-top: 45px;
  border-right: 0;
  height: 550px;
}
.contactForm {
  border: dashed 3px #281e1c8e;
  padding-left: 30px;
  padding-top: 50px;
  padding-right: 20px;
  height: 550px;
}
@media only screen and (max-width: 767px) {
  .contactText {
    /* border: dashed 3px #281e1c8e; */
    border-left: 0;
    border-top: 0;
    border-right: 0;
    height: 570px;
  }
  .contactContainer {
    border: dashed 3px #281e1c8e;
    height: auto;
  }
  .contactForm {
    border: none;
  }
}

.contactBtn {
  background-color: #e7bd44;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0.75em;
  display: inline-block;
  text-decoration: none;
  font-family: "Montserrat";
  height: 40px;
  width: 150px;
}
