.contactContainer {
  background-color: #fcf4f1;
  width: 75%;
  height: 550px;
  font-family: "Poiret One", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.contactText {
  border: dashed 3px #281e1c8e;
  padding-top: 50px;
  border-right: 0;
  height: 550px;
}
.contactForm {
  border: dashed 3px #281e1c8e;
  padding-left: 30px;
  padding-top: 50px;
  padding-right: 20px;
  height: 550px;
}
@media only screen and (max-width: 1000px) {
  .contactText {
    border: dashed 3px #281e1c8e;
    border-bottom: 0;
    height: auto;
  }
  .contactContainer {
    height: auto;
  }
}
.contactBtn {
  background-color: #e7bd44;
  border: dashed 3px #cca532;
  color: #fff;
  height: 35px;
  width: 90px;
}
