.nextBtn {
    background-color: transparent;
    border: none;
  }
  .nextPosition {
    display: flex;
    justify-content: flex-end;
    margin-top: 3%;
    margin-right: 7%;
  }

  .nextPosition a {
      text-decoration: none;
  }

  .nextBtn {
      font-family: 'Montserrat';
      color: #2c6a67;
  }

