.ofdContainer {
  border: dashed 3px #281e1c8e;
  padding: 20px;
  background-color: #fcf4f1;
  width: 75%;
  height: 550px;
}

.ofdTitle {
  font-family: "Style Script", cursive;
  letter-spacing: 2px;
  margin-top: 10px;
}

.ofdText {
  font-family: "Poiret One", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  padding: 10px;
  margin-top: 10px;
}

.ofdBtn {
  background-color: #e7bd44;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0.75em;
  display: inline-block;
  text-decoration: none;
  font-family: "Montserrat";
  height: 40px;
  width: 150px;
  margin-bottom: 10px;
}
.atc-header {
  background-color: #ec5e54;
}
.atc-title {
  width: 100%;
  text-align: center;
  font-family: "Style Script";
  color: #f0dcd7;
}
.atc-body {
  font-family: "Poiret One", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-align: center;
}
