.measurementContainer {
  width: 75%;
  height: auto;
  align-self: center;
}
.measurementRow {
  background-color: #fcf4f1;
  border: dashed 3px #281e1c8e;
}
.measurementContainer h3 {
  font-family: "Style Script", cursive;
  letter-spacing: 1px;
  margin-top: 5px;
  text-align: center;
}
.measurementForm {
  /* height: 550px; */
  padding: 20px;
  border-right: 0;
}
.measurementHowTo {
  border: dashed 3px #281e1c8e;
  /* height: 550px; */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-right: 0;
  border-bottom: 0;
  border-top: 0;
}

.howToPic,
.howToVideo {
  width: 90%;
  /* height: 90%; */
  height: 500px;
  background-color: white;
  border-radius: 5px;
}
.attBtn {
  background-color: #e7bd44;
  border: none;
  color: #fff;
  border-radius: 7px;
  font-size: 1.1rem;
  font-family: "Montserrat";
  height: 40px;
  width: 30%;
  justify-content: center;
  align-items: center;
  display: flex;
  align-self: flex-end;
  margin-right: 28px;
}

@media only screen and (max-width: 1000px) {
  .measurementHowTo {
    border: dashed 3px #281e1c8e;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
  }
  .attBtn {
    height: 40px;
    width: 40%;
  }
}
