.comment-form-actions > button {
  border: none;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0.75em;
  display: inline-block;
  text-decoration: none;
  font-family: "Montserrat";
}
.comment-form-actions > button:hover {
  cursor: pointer;
}

#comment-reveal {
  float: right;
  background-color: #e7bd44;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0.75em;
  display: inline-block;
  text-decoration: none;
  font-family: "Montserrat";
}
#comment-reveal:hover {
  cursor: pointer;
}

button:focus {
  text-decoration: none;
  outline: none;
}

.comment-box {
  max-width: 100%;
  color: #ec5e54;
  background-color: #f0dcd7;
  border-radius: 0.875rem;
  padding: 0.5rem 1rem 2rem;
  font-family: "Montserrat";
}
.comment-box > h2,
.comment-box > h3 {
  font-family: "Style Script";
}

.comment-form {
  background-color: #fff;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
  padding: 1rem;
}
.comment-form-fields {
  margin-bottom: 0.25rem;
}
.comment-form-fields > input,
.comment-form-fields > textarea {
  border: none;
  border-bottom: 1px solid #404040;
  font-size: 0.85rem;
  padding: 0.25rem 0;
  width: 99%;
}

.comment-form-fields > input,
.comment-form-fields > textarea:focus {
  border-bottom-color: #5d86bc;
  outline: none;
}

.comment-count {
  color: #404040;
}

.comment {
  padding-top: 1rem;
  border-top: 0.11rem solid #5d86bc;
}
.comment-body {
  font-style: italic;
  margin-left: 1rem;
}
.comment-footer {
  margin-bottom: 1rem;
}
.comment-footer-delete {
  padding: 0.2rem 0;
  color: #404040;
  text-decoration: none;
}

.comment-footer-delete:hover {
  color: #00bdfc;
  font-weight: bold;
}

.comment-images {
  margin: 20px;
}
