* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
  font-family: "Montserrat";
}

.principal_container_top {
  max-width: 85%;
  height:auto;
  display: flex;
  /* padding-bottom: 1%; */
  padding-right: 1%;
  padding-left: 1%;
  position: relative;
}

/* .principal_container_top .colors_container {} */
.manequin_container_top_colors {
  width: 310px;
  height: 450px;
  border: none;
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: blue;
  position: relative;
}

.colors_container {
  max-width: 55vw;
  border: dashed grey 2px;
  padding: 20px;
  border-radius: 5px;
  margin-top: 2%;
}

.colors_container .carousel {
  display: flex;
  scroll-behavior: smooth;
  overflow-x: auto;
}

.colors_container .carousel::-webkit-scrollbar {
  display: none;
}

.colors_container .carousel .item {
  background-color: white;
  margin: 10px;
  padding: 10px;
  width: 200px;
  height:auto;
  border:solid 1px;
  border-radius: 5px;
  /* flex: none; */
  flex-direction: column;
  align-items: center;
  display: flex;
}

.colors_price {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-family: "Montserrat";
}
/* .container .carousel .item .image img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  border: #707070 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  object-fit: cover;
  
} */

.select_button {
  display: flex;
  align-items: center;
  background-color: #e7bd44;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  padding: 0.75em;
  text-decoration: none;
  font-family: "Montserrat";
  margin: 15px;
  cursor: pointer;
}

.buttons .buttons_icon {
  background-color: transparent; 
  border: none;
}

.buttons_icon:focus {
  text-decoration: none;
  outline: none;
}
.colors_image img {
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

/* Media Queries */

/* Medium to Large */

@media (min-width: 768px) and (max-width: 1200px) {
  /* .container .carousel {
      display: flex;
      
    } */
    
  }