/* WHOLE OUR DESIGN CATALOGUE PAGE CSS */
.MP-navSmall > .returnPosition,
.MP-navSmall > .nextPosition {
  display: none;
}
.MP-section {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
}

.MP-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.MP-header > h4 {
  font-family: "Style Script";
  letter-spacing: 1px;
  color: #2c6a67;
}

.MP-arrowIcon {
  margin-left: 1rem;
}
.MP-info2 {
  display: none;
}

.MP-title {
  font-family: "Style Script";
  color: #2c6a67;
  display: flex;
  align-items: center;
}
.MP-main {
  display: flex;
}
.MP-category {
  width: 20%;
  display: flex;
  align-items: start;
  justify-content: end;
}

.MP-category > h3 {
  margin-top: 7%;
  font-family: "Style Script";
  color: #2c6a67;
}
.MP-magazine {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.MP-box {
  text-align: center;
  width: 100%;
}
.MP-img {
  width: 20%;
  display: flex;
  align-items: end;
  justify-content: start;
}
.MP-img > .MP-models {
  height: 80%;
}

/* Media queries bellow */

@media (max-width: 1301px) {
  .MP-title {
    font-family: "Style Script";
    color: #2c6a67;
    display: flex;
    align-items: center;
  }

  .MP-category {
    width: 15%;
    display: flex;
    align-items: start;
    justify-content: end;
  }
  .MP-lines {
    width: 4rem;
  }
  .MP-category > h3 {
    margin-top: 7%;
    font-family: "Style Script";
    font-size: 1.5rem;
    color: #2c6a67;
  }
  .MP-magazine {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .MP-img {
    width: 15%;
    display: flex;
    align-items: end;
    justify-content: start;
  }
}
@media (max-width: 1301px) {
  .MP-main {
    display: flex;
  }
}
@media (max-width: 1097px) {
  .MP-category {
    width: 20%;
    display: flex;
    align-items: start;
    justify-content: end;
  }
  .MP-magazine {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .MP-img {
    width: 20%;
    display: flex;
    align-items: end;
    justify-content: start;
  }

  .MP-arrowIcon {
    margin-right: 1rem;
  }

  .MP-info2 {
    display: none;
  }
}

@media (max-width: 830px) {
  .MP-navSmall {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .MP-navSmall > .returnPosition,
  .MP-navSmall > .nextPosition {
    display: inline-flex;
  }
  .MP-header > .returnPosition,
  .MP-header > .nextPosition {
    display: none;
  }
  .MP-header {
    display: flex;
    justify-content: space-evenly;
  }
  .MP-title {
    font-family: "Style Script";
    color: #2c6a67;
    display: flex;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .MP-header > h4 {
    display: none;
  }
  .MP-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .MP-category > h3 {
    margin-top: 1%;
    margin-bottom: 2rem;
    font-family: "Style Script";
    color: #2c6a67;
  }
  .MP-category {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .MP-magazine {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  .MP-img {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .MP-models {
    width: 20%;
    margin-top: 10%;
    display: flex;
    justify-content: center;
  }

  .MP-info2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2c6a67;
    font-family: "Style Script";
    letter-spacing: 1px;
    margin-left: 20%;
  }
  .MP-arrowIcon {
    margin-left: 1rem;
  }
}

/* CSS FOR  MAGAZINE ONLY (CENTER PART OF THE WHOLE PAGE) */

.pageHeader {
  padding-left: 30%;
  font-family: "Style Script";
  font-size: 1.5rem;
}
.pageImage {
  margin-top: 10%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
.pagePrice {
  margin-top: 2rem;
  font-family: "Poiret One", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
}
.MP-selectPrizeBtn {
  display: inline-block;
  text-align: center;
  background-color: #e7bd44;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  padding: 0.75em;
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: bold;
  width: 30%;
  margin-top: 1rem;
}

.MP-selectPrizeBtn--active {
  background-color: #5d86bc;
}

.MP-selectPrizeBtn:hover {
  cursor: pointer;
  background-color: #2c6a67;
}
