.main_design_box {
  width: 100vw;
  height: 65vh;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
}

.our_design_img:hover,
.your_design_img:hover,
.pick_up_design_button:hover {
  -moz-box-shadow: 0 0 15px #707070;
  -webkit-box-shadow: 0 0 15px #707070;
  box-shadow: 0 0 10px #707070;
}

.our_design_img,
.your_design_img {
  border-radius: 5px;
  width: 50%;
}

.left_container,
.right_container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.pick_up_design_button {
  width: 50%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  border: none;
  background-color: #e7bd44;
  color: #fcf4f1;
  align-self: center;
  text-align: center;
  font-family: "Montserrat";
  font-size: 18px;
}

.center_detail_scissor {
  background-image: url("./../Images/scissors.png");
  width: 100px;
  height: 120px;
  position: absolute;
  z-index: 1;
  background-repeat: no-repeat;
  margin-right: 5px;
}

.right_container {
  border: #fd393a 2px dashed;
  padding-top: 20px;
  padding-bottom: 2rem;
}
.left_container {
  border-top: #fd393a 2px dashed;
  border-left: #fd393a 2px dashed;
  border-bottom: #fd393a 2px dashed;
  padding-top: 20px;
  padding-bottom: 2rem;
}
.sewingPillow {
  position: relative;
  right: -4rem;
  bottom: -10rem;
}
.needle {
  position: relative;
  left: -4rem;
  top: -10rem;
}

/* Media queries bellow */

/* Extra Large */
@media (min-width: 1470px) {
  .main_design_box {
    width: 100vw;
    height: 63vh;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 4%;
    margin-bottom: 3rem;
  }
  .sewingPillow {
    position: relative;
    right: -4rem;
    bottom: -13rem;
  }
  .needle {
    position: relative;
    left: -4rem;
    top: -13rem;
  }
}

/* Medium  */

@media (max-width: 1300px) {
  .our_design_img,
  .your_design_img {
    width: 55%;
    border-radius: 5px;
  }
  .pick_up_design_button {
    width: 55%;
    height: 5vh;
    display: flex;
    font-size: 15px;
  }
  .center_detail_scissor {
    width: 90px;
    height: 100px;
    margin-right: 10px;
  }

  .sewingPillow {
    position: relative;
    right: -4rem;
    bottom: -8rem;
    width: 7rem;
  }
  .needle {
    position: relative;
    left: -4rem;
    top: -8rem;
    width: 7rem;
  }
}

@media (max-width: 1000px) {
  .our_design_img,
  .your_design_img {
    width: 65%;
    border-radius: 5px;
  }
  .pick_up_design_button {
    width: 65%;
    height: 5vh;
    display: flex;
    font-size: 15px;
  }
  .center_detail_scissor {
    width: 90px;
    height: 100px;
    margin-right: 10px;
  }

  .sewingPillow {
    position: relative;
    right: -4rem;
    bottom: -8rem;
    width: 7rem;
  }
  .needle {
    position: relative;
    left: -4rem;
    top: -8rem;
    width: 7rem;
  }
}

/* Below medium   max.767px */
@media (max-width: 767px) {
  .main_design_box {
    width: 80%;
    height: auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: auto;
    border-radius: 5px;
    align-items: center;
  }
  .our_design_img,
  .your_design_img {
    width: 60%;
    border-radius: 5px;
    margin: 20px;
  }
  .pick_up_design_button {
    width: 45%;
    height: 5vh;
    display: flex;
    font-size: 15px;
    margin-top: 20px;
  }
  .center_detail_scissor {
    width: 90;
    height: 100px;
  }

  .center_detail_scissor {
    display: none;
  }

  .left_container {
    border-top: #fd393a 2px dashed;
    border-left: #fd393a 2px dashed;
    border-right: #fd393a 2px dashed;
    border-bottom: none;
    padding-top: 20px;
    padding-bottom: 2rem;
  }

  .sewingPillow {
    position: relative;
    left: -13rem;
    top: 2rem;
    width: 5rem;
  }
  .needle {
    display: none;
  }
}
/* small */
@media (max-width: 499px) {
  .sewingPillow {
    display: none;
  }
  .needle {
    display: none;
  }
}
