* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  /* min-width: 100vh; */
  height: auto;
}

.manequin_container_bottom {
  width: 310px;
  height: 450px;
  border: none;
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  justify-content: center;
  /* background-color: blue; */
  position: relative;
}
.container_clothes_bottom {
  max-width: 55vw;
  border: dashed #003d3a 2px;
  border-radius: 5px;
  padding: 2% 2%;
  margin-bottom: 4%;
  margin-top: 4%;
  margin-left: 4%;
  
}

.container_clothes_bottom .carousel {
  display: flex;
  scroll-behavior: smooth;
  overflow-x: auto;
}

.container_clothes_bottom .carousel::-webkit-scrollbar {
  display: none;
}

.container_clothes_bottom .carousel .item {
  background-color: white;
  margin: 10px;
  padding: 10px;
  width: 150px;
  height: auto;
  border: solid 1px;
  border-radius: 5px;
  flex: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
}

.container_carousel_bottom .carousel .item .image {
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: center;
}
.container_clothes_bottom .carousel .item .image img {
  width: 100%;
  height: auto;
  gap: 10px;
  object-fit: cover;
  border-radius: 5px;
  border: #003d3a 2px;
}
.buttons,
.select_button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.select_button {
  text-align: center;
  background-color: #e7bd44;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  text-decoration: none;
  font-family: "Montserrat";
}

.select_button--active {
  background-color: #5d86bc;
}

.select_button:hover {
  cursor: pointer;
  background-color: #2c6a67;
}
.buttons_icon {
  background-color: transparent;
  border: none;
}
.info {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}
.info .price {
  margin-top: 5%;
  text-align: center;
}


button:focus {
  text-decoration: none;
  outline: none;
}

/* Media Queries */

@media (max-width: 1200px) {
  .container_clothes_bottom {
    max-width: 52vw;
  }

  .manequin_container_bottom {
    width: 98%;
    height: auto;
    display: flex;
    justify-content: center;
  }
  .manequin_container_bottom img {
    width: 300px;
    height: auto;
  }
}

@media (max-width: 992px) {
  .manequin_container_bottom {
    width: 98%;
    height: auto;
    display: flex;
    justify-content: center;
  }
  .manequin_container_bottom img {
    width: 300px;
    height: auto;
  }
}

/* Below medium */

@media (min-width: 649px) and (max-width: 768px) {
  .manequin_container_bottom {
    width: 98%;
    height: auto;
    display: flex;
    justify-content: center;
  }
  .manequin_container_bottom img {
    width: 260px;
    height: auto;
  }
}

@media (min-width: 576px) and (max-width: 649px) {
  .manequin_container_bottom {
    width: 98%;
    height: auto;
    display: flex;
    justify-content: center;
  }
  .manequin_container_bottom img {
    width: 250px;
    height: auto;
  }
  .container_clothes_bottom {
    max-width:45vw;
    margin-right: 4%;
    
  }
}

@media (max-width: 576px) {
  .manequin_container_bottom {
    width: 98%;
    height: auto;
    display: flex;
    justify-content: center;
  }
  .manequin_container_bottom img {
    width: 200px;
    height: auto;
  }
  .container_clothes_bottom {
    max-width:35vw;
    /* margin-right: 4%; */
    
  }
}
