.manequin_container {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

@media (min-width: 576px) and (max-width: 649px) {
    .manequim_image {
        padding-bottom: 10%;
    }
}
