body {
    width: 100%;
    height: auto;
}

.make_your_design_color_and_pattern {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Style Script";
    letter-spacing: 2px;
    color: #003D3A;
    font-weight: 100;
    
}

.main_container_color_and_pattern {
    width: 80vw;
    height: 70%;
    border: dashed 2px;
    display: flex;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    justify-content: center;
    
}

/* .manequin_container {
    width: 40vw;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.manequin_container img {
    display: flex;
    justify-content: flex-start;
    width: 65%;
    height: 95%;
    margin-left: 50px;
} */

.carousels {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 70%;
    
    /* align-items: flex-end; */
}
.carousel_container_colors,
.carousel_container_prints {
    display: flex;
    justify-content: flex-start;
    height: 80%;
}

.next_page {
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
}
.next_page a {
    text-decoration: none;
}

.next_page {
    font-family: 'Montserrat';
    color: #2c6a67;
}
.next_page:hover {
    cursor: pointer;
    color: #2c6a67;
}
/* Media Queries */

/* Medium to Large */

@media (min-width: 768px) and (max-width: 1200px) {
    .main_container_color_and_pattern {
        width: 85vw;
        height: 70%;
        border: dashed 2px;
        display: flex;
        justify-content: center;
        
    }
    .manequin_container img {
    display: flex;
    justify-content: center;
    width: 65%;
    height: 95%;
    margin-left: 50px;
    }
    
}

/* Medium */

@media (max-width: 767px) {
    .main_container_color_and_pattern {
        width: 92%;
        height: 70%;
        display: flex;
        justify-content: center;
    }
    .make_your_design_color_and_pattern h3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 22px;
        font-weight: normal;
        
    }
}

/* Extra Small */

@media (max-width: 576px) {
    .main_container_color_and_pattern {
        width: 92%;
        height: 70%;
        display: flex;
        justify-content: center;
    }
    .make_your_design_color_and_pattern h3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 22px;
        font-weight: normal;
        
    }
    
}

